# Arquivos compilados
out/
*.class

# IDE
.vscode/
.idea/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Dados de execução
data/despesas.txt
data/erro.log
data/exports/

# Temporários
*.tmp
*.log
